/**
 * Created by Aymen Ben Othmen on 12/08/16.
 */
    
.text-primary {
    -fx-text-fill: $primary;
}
.text-success {
    -fx-text-fill: $success;
}
.text-danger {
    -fx-text-fill: $danger;
}
.text-dark {
    -fx-text-fill: $dark;
}
.text-white {
    -fx-text-fill: $white;
}
.text-warning {
    -fx-text-fill: $warning;
}
.text-success-sec {
    -fx-text-fill: $success-sec;
}
.text-info {
    -fx-text-fill: $info;
}
.text-mute {
    -fx-text-fill: $mute;
}
